/target/
/testdatatmp/
.ignore*
.classpath
.project
test80.mp3
test82.mp3
test88.mp3
01.m4a
test18.m4a
test96.m4a
test98.m4a
test22.flac
test91.mp3
test93.mp3
test8.wma
test97.mp3
test99.mp3
test90.ogg
test55.ogg
test57.ogg
test25.m4a
test27.m4a
test29.m4a
test20.mp3
test22.mp3
test24.mp3
test60.m4p
test26.mp3
test28.mp3
test30.m4a
test7.mp4
test34.m4a
test73.m4a
test75.m4a
test4.ogg
test6.ogg
test31.mp3
test33.mp3
test70.mp3
test78.mp3
test101.mp3
test43.m4a
test45.m4a
test84.m4a
test49.m4a
test86.m4a
test81.mp3
test46.mp3
test83.mp4
test85.mp4
test87.mp4
test89.mp3
test13.m4a
test50.m4a
test17.m4a
test56.m4b
test95.m4a
01.mp3
test92.mp3
test94.mp3
test9.wma
test59.mp4
test54.flac
test102.flac
test58.ogg
test26.m4a
test1.m4a
test25.mp3
test27.mp3
test28.m4p
test29.mp3
test31.m4a
test70.jpg
test35.m4a
cover_large.jpg
test9.m4p
test37.m4a
test30.mp3
test32.mp3
test34.mp3
test71.mp3
test75.mp3
test79.mp3
test100.mp4
test72.ogg
test40.m4a
test1.wma
testV1.mp3
test112.m4a
test111.mp3
test105.wav
test500.m4a
test104.m4a
test107.mp3
test110.mp3
Arizona.m4a
test103.m4a
test109.m4a
test106.mp3
test108.mp3
testfiles.txt.bak
TEST.TXT
test1.wma
testV1.mp3
test112.m4a
test111.mp3
test105.wav
test500.m4a
test104.m4a
test107.mp3
test110.mp3
sssaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa.m4a
Arizona.m4a
test103.m4a
test109.m4a
test106.mp3
test108.mp3
testdata/test113.mp3
test114.mp3
jaudiotagger.iws
.settings/
test139.mp3
test140.mp3
test141.m4a
test142.wav
test115.flac
test115.mp3
test116.m4a
test118.m4a


